header {
    z-index: 1000;
}
html {
            --color: #1281b7;
            background-color: #f5f5f5;
            --ternary:white;
        }
.sidebar {
    width: 100%;
    position: absolute;
    left:0px;
    top: 50px;
    transition: transform 0.2s ease-in-out;
    transform: translateY(-100%);
    z-index: -1;
    background-color: white;
    color: var(--color);
    box-shadow: 0.5px 1.5px  2px var(--color);
}

.sidebar.menuActive {
    transform: translateY(0);
}

.banner-track {
    display: flex;
    overflow: hidden;
}

.bannerslide {
    transition: transform 2s ease-in-out;
    transform: translateX(0%);
    flex: 0 0 auto;
}

.bannerslide img {
    width: 100%;
}

.offerList {
    list-style-position: inside;
    
}

.clamptext {
    display: -webkit-box;
    line-clamp: 6;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.overviewBtn {
    animation: spin 2s linear forwards;
}
@keyframes spin {
  0% {
    transform: rotateY(270deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.priceSheetImg:hover {
    background-color: black;
}

/* Uniform button css */

.buttonOuter {
    border: 2px solid var(--color);
    background-color: var(--color);
}

.buttonInner {
    border: 2px solid var(--ternary);
    color: var(--ternary);
    padding: 0.2rem 2rem;
}

/* button:hover{
    transform: scale(1.05,1.1);
} */
button:not(.absoluteBtn):hover {
    transform: scale(1.05,1.1);
}

/* Amenities css start */
.amenities-card {
    /* border: 1px solid rgb(219, 219, 219); */
    padding: 0.5rem;
    min-width: 30%;
    height: 17rem;
    overflow: hidden;
}

.amenities-card img {
    border-radius: 10px;
    padding: 0px;
    height: 14rem;
    object-fit: cover;
    width: 100%;
}

.prevBtn, .nextBtn {
    /* box-shadow: 0.1rem 0.1rem 1px var(--color); */
    border: 0.1rem solid var(--color);
    height: max-content;
    padding: 0.5rem 1rem;
    border-radius: 50%;
    font-size: 1rem;
    color: var(--color);
    font-weight: 800;
    background-color: white;
}

.highlight {
    transform: scale(1.2,1.1);
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

.carouselCount {
    padding: 0.4rem;
    background-color: rgb(220, 220, 220);
    border-radius: 50%;
}

.carouselCount.active {
    background-color: var(--color);
}

#amenities-popupModal {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    padding: 10%;
}

#amenities-popupclose {
    border: 3px solid var(--color);
    padding: 0 0.5rem;
    margin-bottom: 10px;
    background-color: white;
}

.amenities-desc {
    text-align: center;
    background-color: gray;
    width: fit-content;
    padding: 0.2rem 1rem;
    margin: 0px auto;
    border-radius: 10px;
}

@media (max-width:480px) {
    .amenities-card{
        width: 100%;
        height: auto;
        padding: 0px;
        margin: 0px;
    }

    .amenities-card img {
        padding: 5px 5px 0px 5px;
        width:100%;
        margin: 0px;
        height: auto;
    }

    #amenities-popupModal {
        padding: 25% 1%;
    }
}

@media (max-width: 767px) {
        .amenities-card{
        min-width: 100%;
        height: auto;
        padding: 0px;
        margin: 0px;
    }

    .amenities-card img {
        width:100%;
        margin: 0px;
        height: auto;
    }

    .highlight {
        transform: scale(1);
    }
}

/* location CSS begin */


.toggleTab {
    padding: 0.5rem 1rem;
    display: none;
}

.toggleTab.toggleActive {
    display: block;
}

/* Gallery CSS Starts here */
.gallery-card {
    /* border: 1px solid rgb(219, 219, 219); */
    padding: 0.5rem;
    min-width: 30%;
    height: 17rem;
    overflow: hidden;
}

.gallery-card img {
    border-radius: 10px;
    padding: 0px;
    height: 14rem;
    object-fit: cover;
    width: 100%;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

.gallery-carouselCount {
    padding: 0.4rem;
    background-color: rgb(220, 220, 220);
    border-radius: 50%;
}

.active {
    background-color: var(--color);
}

#gallery-popupModal {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    padding: 20% 10%;
}

#gallery-popupclose {
    border: 3px solid var(--color);
    padding: 0 0.5rem;
    margin-bottom: 10px;
    background-color: white;
}

.gallery-desc {
    text-align: center;
    background-color: gray;
    width: fit-content;
    padding: 0.3rem 1rem;
    margin: 0px auto;
    border-radius: 10px;
}

@media (max-width:480px) {
    .gallery-card{
        width: 100%;
        height: auto;
        padding: 0px;
        margin: 0px;
    }

    .gallery-card img {
        padding: 5px;
        width:100%;
        margin: 0px;
        height: auto;
    }

    #gallery-popupModal {
        padding: 25% 1%;
    }

    .highlight {
        transform: scale(1,1);
    }
}

    @media (max-width: 767px) {
        .gallery-card{
        min-width: 100%;
        height: 12rem;
        padding: 0px;
        margin: 0px;
    }

    .gallery-card img {
        width:100%;
        margin: 0px;
        height: 12rem;
    }
}

/*site visit css */
.siteVisitWrapper {
    cursor: pointer;
    position: relative;
}

.siteVisitImage {
    object-fit: fill;
    width: 100%;
    height: 350px;
}

.button-wrapper {
    background-color: rgb(0,0,0,0.5);
    padding: 2rem 0;
    width: 100%;
}