* {
    --color: #227cb5;
}

.amenities-card {
    /* border: 1px solid rgb(219, 219, 219); */
    padding: 0.5rem;
    min-width: 30%;
    height: 17rem;
    overflow: visible;
}

.amenities-card img {
    border-radius: 10px;
    padding: 0px;
    height: 14rem;
    object-fit: cover;
    width: 100%;
}


.prevBtn, .nextBtn {
    /* box-shadow: 0.1rem 0.1rem 1px var(--color); */
    border: 0.1rem solid var(--color);
    height: max-content;
    padding: 0.5rem 1rem;
    border-radius: 50%;
    font-size: 1rem;
    color: var(--color);
    font-weight: 800;
    background-color: white;
}

.highlight {
    transform: scale(1.2,1.1);
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

.carouselCount {
    padding: 0.4rem;
    background-color: rgb(220, 220, 220);
    border-radius: 50%;
}

.carouselCount.active {
    background-color: var(--color);
}

#amenities-popupModal {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    padding: 10%;
}

#amenities-popupclose {
    border: 3px solid var(--color);
    padding: 0 0.5rem;
    margin-bottom: 10px;
    background-color: white;
}

.amenities-desc {
    text-align: center;
    background-color: gray;
    width: fit-content;
    padding: 0.3rem 1rem;
    margin: 0px auto;
    border-radius: 10px;
}

@media (max-width:480px) {
    .amenities-card{
        min-width: 100%;
    }

    .amenities-card img {
        width:90%;
        margin: 0px auto;
    }

    #amenities-popupModal {
        padding: 10% 1%;
    }
}

/* location CSS begin */


.toggleTab {
    padding: 0.5rem 1rem;
    display: none;
}

.toggleTab.toggleActive {
    display: block;
}

/* Gallery CSS Starts here */
.gallery-card {
    /* border: 1px solid rgb(219, 219, 219); */
    padding: 0.5rem;
    min-width: 30%;
    height: 17rem;
    overflow: visible;
}

.gallery-card img {
    border-radius: 10px;
    padding: 0px;
    height: 14rem;
    object-fit: cover;
    width: 100%;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

.gallery-carouselCount {
    padding: 0.4rem;
    background-color: rgb(220, 220, 220);
    border-radius: 50%;
}

.active {
    background-color: var(--color);
}

#gallery-popupModal {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    padding: 20% 10%;
}

#gallery-popupclose {
    border: 3px solid var(--color);
    padding: 0 0.5rem;
    margin-bottom: 10px;
    background-color: white;
}

.gallery-desc {
    text-align: center;
    background-color: gray;
    width: fit-content;
    padding: 0.3rem 1rem;
    margin: 0px auto;
    border-radius: 10px;
}

@media (max-width:480px) {
    .gallery-card{
        min-width: 100%;
        height: 13rem;
        border: 1px solid black;
        padding: 0px;
        margin: 0px;
    }

    .gallery-card img {
        width:100%;
        margin: 0px;
        height: 13rem;
    }

    #gallery-popupModal {
        padding: 25% 1%;
    }
}

.banner-track {
    display: flex;
    overflow: hidden;
}

.bannerslide {
    transition: transform 2s ease-in-out;
    transform: translateX(0%);
    flex: 0 0 auto;
}

.bannerslide img {
    width: 100%;
}
.siteVisitWrapper {
    cursor: pointer;
    position: relative;
}

.siteVisitImage {
    object-fit: fill;
    width: 100%;
    height: 350px;
}

.button-wrapper {
    background-color: rgb(0,0,0,0.5);
    padding: 2rem 0;
    width: 100%;
}

/* Popup Modal CSS */

.overlay {
    position: fixed;
    top: 0;
    width: 100vw;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    /* opacity: 75%; */
    /* -webkit-backdrop-filter: blur(50px); */
    backdrop-filter: blur(3px);
    z-index:2000;
}

.popupform-wrapper {
    position: fixed;
    top: 10%;
    z-index: 2100;
    background-color: white;
}

#popup-heading {
    background-color: var(--color);
    margin: 0px auto;
    width: 100%;
}