* {
    margin: 0px;
    font-family: sans-serif;
}
header {
    background-color: white;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 5rem;
}
.navbar {
    display: flex;
    justify-content:flex-end;
    gap: 10%;
}
.phone_url {
    border: 1px solid black;
    border-radius: 50px;
    color: black;
    display: flex;
    align-items: center;
    height: 40px;
}
.phone_url p {
    padding: 0px 10px;
}

.hamburger {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0px;
    right: 0px;
    width:300px;
    height: 100vw;
    background-color: white;
    box-shadow: -1px 1px 2px gray;
    padding: 4rem 2rem;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    z-index: 2000;
}

.openSidebar {
    transform: translateX(0%);
}

.sidebar-close {
    position:fixed;
    top:1.5rem;
    right: 2rem;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-item-list {
    line-height: 2.5rem;
    padding: 1rem;
    list-style-type: none;
}

.nav-item-list li {
    padding: 0.5rem 0;
    border-bottom: 1px solid black;
}

.nav-item-list li:last-child{
    border-bottom: 0px;
}

.nav-item-list li:hover {
    background-color: #00B86B;
    padding: 1rem ;
    color: white
}

.nav-item-list a:hover {
    color: white;
}

.nav-item-list a {
    text-decoration: none;
    color: black;
}

.desktopbanner {
    display: block;
}

.bannerImage {
    width: 100%;
    height: 30rem;
}

.bannerDetails {
    position: absolute;
    top: 7rem;
    padding: 0 5rem;
}

.bannerHeading {
    color: white;
    font-size: 2.5rem;
}
.bannersubHeading {
    color: white;
    padding: 1rem 0rem;
}
.bannerMove {
    position: relative;
    background-color: white;
    width: fit-content;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    border-radius: 5px 5px 5px 0px;
    /* z-index: 1; */
}
.bannerOffer {
    background-color: black;
    color: white;
    list-style-position: inside;
    width: fit-content;
    padding: 2rem 1.5rem 1rem;
    margin-top: -1rem; 
    line-height: 1.5rem;
    /* z-index: -1; */
}
.bannerOffer span {
    display: none;
}
.bannerPriceHeading {
    color: white;
    margin: 0.8rem 0rem;
}
.bannerPrice {
    color: #00B86B;
    font-weight: 600;
    font-size: 2rem;
}

.bannerEnquireBtn {
    display: none;
}

@media (max-width:768px) {
    .phone_url p{
        display: none;
    }
    
    nav {
        padding: 0.2rem 0.5rem;
    }
}


.bannerForm {
    background-color: white;
    padding: 1.5rem;
    margin: -3rem 20rem 0rem;
    display: flex;
    justify-content: space-between;
    z-index: 200;
    position: relative;
    border-radius: 10px;
    box-shadow: 1px 4px 4px gray;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .bannerForm {
        margin: -3rem 10rem 0rem;
    }
    .form-number {
        width: 60%;
        border-radius: 0px 10px 10px 0px;
        padding: 0.5rem 0.2rem;
    }
    .country-code {
    width: 30%;}
    
}

.formContent {
    display: none;
}

.input-wrapper {
    width: 37%;
    height: 2.5rem;
}

.submitbuttonWrapper {
    width: 25%;
}

.form-name,.bannerSubmitBtn,.country-code,.form-number {
    height: 2.5rem;
    box-sizing: border-box;
}
.form-name{
width: 90%;border-radius: 10px;
padding: 0.5rem 2rem;}

.country-code {
    /* width: 20%; */
    border-radius: 10px 0px 0px 10px;
    color: black;
    text-align: center;
}

@media (min-width:1025px) {
.form-number {
    width: 60%;
    border-radius: 0px 10px 10px 0px;
    padding: 0.5rem 2rem;
}
.country-code {
    width: 20%;
}
}

.bannerSubmitBtn {
    background-color: #00B86B;
    border: 0px;
    color: white;
    width: 100%;
    border-radius: 10px;
}

.form-name,.country-code,.form-number {
    background-color: rgb(240 240 240);
    border: 0;
    color: black;
}
input::placeholder {
    color: black;
}

@media (max-width: 767px) {

.bannerImage {
    height: auto;
}

.bannerDetails {
    position: static;
    padding: 1rem;
}

.bannerHeading {
        /* text-align: center; */
        color: black;
        font-weight: 800;
    }

.bannersubHeading {
    color: black;
}

.bannerMove {
    display: none;
}
    
.bannerLocation {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
}

.bannerOffer {
    background-color: transparent;
    color: #00B86B;
    list-style-type: none;
    padding: 1rem 0;
    line-height: 2rem;
    font-weight: 600;
}

.bannerOffer li span {
    display: inline;
    padding: 0rem 0.5rem;
    color: black;
    background-color: gold;
    border-radius: 10px;
    margin-right: 10px;
}

.bannerPriceHeading {
    color: black;
    margin: 0.5rem 0;
}

.bannerEnquireBtn {
    display: block;
    color: white;
    background-color: #00B86B;
    border: 0px;
    padding: 1rem 2.5rem;
    margin: 0px auto;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 1.5rem;
}

.bannerForm {
    display: block;
    background-color: black;
    padding: 1.5rem;
    border-radius: 0px;
    box-shadow: 1px 4px 4px gray;
    margin: 0px;
}

.formContent {
    display: block;
    color: white;
    margin-bottom: 2rem;
    text-align: justify;
}

.formHeading {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0.5rem 0;
    letter-spacing: 1px;
}

.input-wrapper {
    width: 100%;
    height: 2.5rem;
    margin-bottom: 0.5rem;
}

.submitbuttonWrapper {
    width: 100%;
}

.form-name,.bannerSubmitBtn,.country-code,.form-number {
    height: 2.5rem;
    box-sizing: border-box;
}
.form-name,.bannerSubmitBtn{
width: 100%;border-radius: 5px;
padding: 0.5rem 2rem;}

.country-code {
    width: 30%;
    border-radius: 5px 0px 0px 5px;
    color: black;
    text-align: center;
}
.form-number {
    width: 70%;
    border-radius: 0px 5px 5px 0px;
    padding: 0.5rem 2rem;
}

.bannerSubmitBtn {
    background-color: #00B86B;
    border: 0px;
    color: white;
}

.form-name,.country-code,.form-number {
    background-color: rgb(240 240 240);
    border: 1px solid gray;
    color: black;
}
input::placeholder {
    color: black;
}

.form-name:focus {
    border: 2px solid #00B86B;
    outline: #00B86B;
}
}

